/* Map.js */
.find{
    position: absolute;
    right: 30px;
    top: 50px;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.minibar{
    position: absolute;
    right: 30px;
    bottom: 90px;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.minibar button{
    width: auto;
    background-color: transparent;
    font-weight: bolder;
}


/* all */
Link{
    text-decoration: none;
    color: #FCF7EC;
}
#map{
    width: 100vw;
    height: 100vh;
}
#home{
    display: flex;
    
}

/* module */
.mainbar{
    height: 100vh;
    width: 100px;
    min-width: 100px;
    background-color: #AFC2AE;
    z-index: 200;
    padding-top: 20px;
}
.mainbar button{
    border: none;
    width: 100%;
    font-weight: bolder;
}
.mainbar>button:hover, .mainbar>button:active{
    background-color: #FCF7EC;
    color: #9BA79C;
}



/*panel*/
.mymemoActive, .mylctActive, .mypageActive{
    position: absolute;
    margin-left: 100px;
    z-index: 100;
    background-color: #FCF7EC;
    width: 30vw;
    height: 100vh;
    transition: 0.5s;
    padding: 50px 60px 50px 60px;
}
.mymemoInactive, .mylctInactive, .mypageInactive{
    position: absolute;
    margin-left: -40vw;
}
.btnActive{
    color: #9BA79C;
    background-color: #FCF7EC;
}
.btnInactive{
    color: #FCF7EC;
    background-color: #AFC2AE;
}
.linkbtn{
    background-color: #AFC2AE;
    color: #FCF7EC;
}

