.easy{
    width: 446px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 19px;
    margin-left: 25%;
}
.validbutton{
    background-color: #878A72;
}
.isvalidbutton{
    background-color: #B4B89F;
}